@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sora";
    src: url("/fonts/Sora-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Sora";
    src: url("/fonts/Sora-ExtraLight.ttf");
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "Sora";
    src: url("/fonts/Sora-Light.ttf");
    font-weight: 200;
    font-style: normal;
  }
}

@layer components {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Sora", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    color: white;
  }
  html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }
  ::-webkit-scrollbar-track {
    @apply rounded;
    background: rgb(0 0 0 / 80%);
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#141414] rounded;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#121212];
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .bg-noisy-lighten {
    @apply bg-noisy bg-blend-multiply;
    background-color: rgba(255, 255, 255, 0.02);
  }
  .bg-noisy-primary {
    background-image: url("/images/noisy-bg.png"),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0.02)
      ),
      radial-gradient(
        129.14% 124.45% at 87.33% -10.88%,
        #7500cf 0%,
        rgba(90, 2, 175, 0.765435) 9.12%,
        rgba(68, 3, 149, 0.57794) 22.43%,
        rgba(0, 7, 69, 0) 100%
      );
    background-blend-mode: overlay, normal, normal;
  }
  .shadow-card {
    box-shadow: 0px 24px 94px rgba(0, 0, 0, 0.25);
  }

  .border-stroke {
    /* border: 1px solid;

    border-image-source: radial-gradient(
        124.24% 124.24% at 3.38% 200.71%,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        711.4% 312.3% at 104.64% -29.02%,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 96.41%
      ); */
  }
}
